{% extends "header.html" %}

{% load static %}

{% block content %}




<div class="container px-6 py-16 mx-auto">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="lg:max-w-lg">
                <h1 class="text-3xl font-semibold text-primary mb-4">Emotion <br><span class="text-primary">Detection</span></h1>
                <p class="mt-3 text-gray-600">Welcome to our Emotion Detection platform. Our advanced system provides real-time analysis of human emotions, making it a valuable tool for a wide range of applications. Whether you're interested in understanding customer sentiments, enhancing user experiences, or conducting emotional research, our platform has you covered. With our technology, you can gain insights into a person's emotional state, from happiness and surprise to sadness and more. Start using our Emotion Detection platform today and unlock the power of real-time emotional analysis.</p>
                <a href="{% url 'live:index' %}"><button class="btn btn-primary btn-block mt-6">Get Started</button></a>
            </div>
        </div>

        <div class="col-lg-6 mt-6 mt-lg-0">
            <img class="w-100" src="{% static 'img/image.jpg' %}" alt="">
        </div>
    </div>
</div>

{% endblock %}
