{% extends "header.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Login -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Image on the left side -->
            <img src="your-image-url.jpg" alt="Your Image" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-6">
            <!-- Login form on the right side -->
            <div class="text-center">
                <h1 class="display-4 mb-4">Login</h1>
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ login_form|crispy }}
                <button class="btn btn-primary btn-block mt-4" type="submit">Login</button>
            </form>
            <p class="text-center mt-3">
                <small>Don't have an account? <a href="/register">Create an account</a>.</small>
            </p>
        </div>
    </div>
</div>

{% endblock %}
